@model IEnumerable<Projects>

    <!-- start table -->
    
        <div class="judge">
            <table class="table table-Danger table-bordered">
                <thead >
                    <tr>
                        <th scope="col">الاسم بالكامل</th>
                        <th scope="col">التخصص</th>
                        <th scope="col">النتيجه</th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                <tr>

                    <td>@item.Name</td>

                    <td>@item.Specialization</td>
               
                    <td>
                        @if (item.Result == null)
                        {
                            <span>لم يتم تقييمه</span>
                        }
                        else
                        {
                            @item.Result
                        }
                    </td>
             
<td>

                            <a class="btn btn-secondary " id="btnrule" href="/Judge/CompRate/@item.Id">
                                تقييم
                            </a>


                        </td>

                    </tr>
                    
                 }
                 
                </tbody>
            </table>
        </div>
        <!-- end table -->