@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}


        @*<div class="col-md-3">
            <partial name="_ManageNav" />
        </div>*@
        <div class="col-md-9 edit-page" >
            @RenderBody()
        </div>
    

@section Scripts {
    @RenderSection("Scripts", required: false)
}
